html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "MontSerrat", Tahoma, Geneva, Verdana, sans-serif;
}

p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

i {
  transition: all 0.2s ease-in-out;
}

i:hover {
  transform: scale(1.1);
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;
}

.logo {
  width: 10%;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 45%;
}

.hide-mobile {
  display: none;
}

.exit-btn {
  width: 50px;
}

.profile figure img {
  width: 40%;
  margin: auto auto 1em auto;
  border-radius: 50%;
  -webkit-filter: grayscale(100%) drop-shadow(0 0 0.75rem black);
  filter: grayscale(100%) drop-shadow(0 0 0.75rem black);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.profile figure a:hover img {
  -webkit-filter: grayscale(0) drop-shadow(0 0 0.75rem black);
  filter: grayscale(0) drop-shadow(0 0 0.75rem black);
}

h1,
.subhead {
  position: relative;
  z-index: 3;
}

h1 {
  font-size: 2em;
}

.subhead {
  font-size: 1.1em;
}

.blue-container {
  width: 100%;
  background: #ebebeb;
  margin-top: 15%;
  padding: 1em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}

.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white;
  top: -80px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: -2;
}

.blue-container ul {
  transform: skewY(2deg);
}

.blue-container h1 {
  transform: skewY(2deg);
}

.blue-container ul li {
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}
.blue-container ul li {
  padding: 0 0.5em;
}

.blue-container figure img {
  width: 350px;
  margin-top: 3em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  filter: grayscale(100%) drop-shadow(0 0 0.75rem black);
}

.blue-container figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0) drop-shadow(0 0 0rem black);
}

.gray-container {
  padding: 4em 0 2em;
  margin-top: -3%;
}

.gray-container ul li {
  margin: 0 3em 3em;
}

.work-thumbnails {
  width: 300px;
  text-align: center;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

h2 {
  margin-top: 7%;
}

h3 {
  font-size: 1.6em;
}

.skills {
  font-size: 1.2em;
}

.specific-skills {
  font-weight: bold;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.cta {
  background: #ebebeb;
  width: calc(100% - 1em);
  display: block;
  color: black;
  border-radius: 20px;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  margin: 1% auto 7%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.cta:hover {
  background: black;
  color: white;
  filter: drop-shadow(0 0 0.75rem black);
}

.footer-container {
  width: 100%;
  background: #ebebeb;
  padding: 1.8em 0;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  display: inline-block;
  color: gray;
  font-size: 0.8em;
}

.my-email p a {
  color: gray;
  text-decoration: none;
}

.my-email p a:hover {
  color: black;
}

nav ul {
  position: fixed;
  width: 40%;
  top: 0;
  right: 0;
  text-align: left;
  background: grey;
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: grey;
  padding: 1em 2em;
}

nav ul li a:hover {
  background-color: rgb(184, 178, 178);
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  padding: 1em 2em;
}

.exit-btn img {
  width: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .top-logo {
    display: none;
  }

  .work-thumbnails {
    width: 300px;
  }
}

@media only screen and (min-width: 650px) {
  .crowd {
    width: 30%;
  }

  .logo {
    width: 10%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
  }

  .subhead {
    font-size: 1.4em;
    margin-bottom: 5%;
  }

  .blue-container {
    margin: 0;
  }

  .blue-container img {
    width: 35%;
  }

  .blue-container ul li {
    margin-bottom: 0;
  }
  .blue-container ul li p {
    padding: 0 0.8em;
  }

  .gray-container img {
    width: 70%;
  }

  nav ul {
    width: 40%;
  }
}

@media only screen and (min-width: 875px) {
  .subhead {
    margin-bottom: 5%;
  }

  .logo {
    width: 60px;
  }

  .blue-container ul {
    margin: 0 0 4% 0;
  }

  .gray-container ul {
    margin: 4% 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .cta {
    width: 50%;
  }

  .gray-container ul {
    display: flex;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .show-desktop {
    display: block;
    margin: 0 auto 2% auto;
  }

  .hide-desktop {
    display: none;
  }

  .blue-container ul {
    display: flex;
    margin-top: -1em;
    padding: 1em;
    align-items: center;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    color: black;
    background-color: inherit;
    text-align: center;
    padding: 1em 2em;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  nav ul li a:hover {
    background-color: inherit;
    font-weight: bold;
  }

  .scroll {
    width: 45px;
    animation: move 1s infinite alternate;
  }

  @keyframes move {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(20px);
    }
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    width: 70%;
  }

  .profile figure img {
    width: 30%;
    margin: auto auto 1.5em auto;
  }

  .blue-container {
    padding: 2em 0 2em;
  }

  .blue-container ul li p,
  blockquote {
    font-size: 1.3em;
  }

  .gray-container {
    padding: 6em 0 4em;
  }

  h2 {
    margin-top: 4em;
  }

  .blue-container img {
    width: 30%;
    margin-top: -4px;
  }
}
