html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}

p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

i {
  transition: all 0.2s ease;
}

.fa-github,
.fa-linkedin {
  font-size: 50px;
  margin: auto;
  padding: 0 0.5em;
  margin-bottom: 2%;
  color: black;
}

.fa-github:hover,
.fa-linkedin:hover {
  transform: scale(1.1);
}

.preload {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  background-color: whitesmoke;
  z-index: 4;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.invisible-button {
  border-style: none;
  background-color: whitesmoke;
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;
}

.logo {
  width: 100px;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 45%;
  float: right;
}

.hide-mobile {
  display: none;
}

.exit-btn {
  width: 50px;
}

.profile figure img {
  width: 50%;
  margin: auto auto 0.5em auto;
}

h1,
.subhead {
  position: relative;
  z-index: 3;
}

h1 {
  font-size: 2.5em;
}

.profile h1 {
  margin-top: 5px;
  font-size: 2.5em;
  font-family: "Comfortaa", cursive;
}

.subhead {
  margin-bottom: 2em;
}

.subhead-buttons {
  margin-bottom: 1rem;
}

.subhead-buttons a {
  margin: 0.6rem 0;
}

.work-container {
  position: relative;
  width: 100%;
  background: gainsboro;
  margin-top: 15%;
  padding: 1em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.work-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: gainsboro;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}

.work-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: whitesmoke;
  top: -80px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: -2;
}

.work-container ul {
  transform: skewY(2deg);
}

.work-container h1 {
  transform: skewY(2deg);
  font-family: "Comfortaa", cursive;
}

.work-container ul li {
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5em;
}

.work-container figure img {
  width: 275px;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.work-container figure {
  width: 275px;
  margin: auto;
}

.left-work-btn {
  position: absolute;
  bottom: 50px;
  left: 15px;
}

.right-work-btn {
  position: absolute;
  bottom: 50px;
  right: 15px;
}

figure button {
  cursor: pointer;
  transform: scale(0);
  font-weight: bold;
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  transition: all 0.3s ease;
}

.work-container figure:hover img {
  filter: grayscale(0);
}

.work-container figure:hover button {
  transform: scale(1);
}

.work-list:hover figure:not(:hover) img {
  filter: grayscale(100%);
}

.skills-container {
  padding: 4em 0 2em;
  margin-top: -3%;
}

.skills-container ul li {
  margin: 0 auto 2em;
  width: 300px;
}

.skills-container h3 {
  font-family: "Comfortaa", cursive;
  font-size: 2em;
}

figcaption a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

h2 {
  margin-top: 7%;
}

h3 {
  font-size: 1.6em;
}

.skills {
  font-size: 1em;
}

.specific-skills {
  font-weight: bold;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.cta {
  background: gainsboro;
  width: calc(100% - 1em);
  display: block;
  color: black;
  border-radius: 20px;
  padding: 1rem 0.5em;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1% auto 1%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.cta:hover {
  background: black;
  color: whitesmoke;
}

.footer-container {
  width: 100%;
  background: gainsboro;
  padding: 1.8em 0;
}

.my-email p:nth-child(1) {
  margin-top: 0;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  display: inline-block;
  font-size: 0.8em;
}

.my-email p a {
  color: black;
  text-decoration: none;
}

.my-email p a:hover {
  color: black;
}

nav ul {
  position: fixed;
  width: 40%;
  top: 0;
  right: 0;
  text-align: left;
  background: silver;
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: silver;
  padding: 1em 2em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

nav ul li a:hover {
  background-color: black;
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  padding: 1em 2em;
}

.exit-btn img {
  width: 20px;
  cursor: pointer;
}

/*contact.html CSS*/
.contact-section {
  background: whitesmoke;
  padding: 80px;
}

.contact-section h1 {
  text-align: center;
  color: black;
  font-family: "Comfortaa", cursive;
}

.border {
  width: 100px;
  height: 10px;
  background: gainsboro;
  margin: 40px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.name-form,
.email-form,
.message-form {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #ebebeb;
  padding: 20px 40px;
  outline: none;
  color: black;
  font-family: montserrat;
  transition: 0.5s;
}

.name-form:focus,
.email-form:focus,
.message-form:focus {
  box-shadow: 0 0 10px 4px black;
}

textarea.message-form {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: gainsboro;
  color: black;
  font-family: montserrat;
  font-weight: bold;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: black;
}

.contact-section button:hover {
  background: black;
  color: #fff;
}

/*Animation CSS*/
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*Animatopy animation for profile image*/
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada:hover {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  .top-logo {
    display: none;
  }

  /*contact-form CSS*/
}

@media only screen and (min-width: 650px) {
  .top-logo {
    display: none;
  }

  .logo {
    width: 10%;
  }

  .invisible-button {
    display: none;
  }

  .profile h1 {
    font-size: 3em;
    margin: 0;
  }

  h1 {
    font-size: 3em;
  }

  .subhead-buttons {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  .work-container {
    margin-top: 1em;
  }

  .work-container ul li {
    margin-bottom: 0;
  }
  .work-container ul li p {
    padding: 0 0.8em;
  }

  .skills-container img {
    width: 70%;
  }

  nav ul {
    width: 40%;
  }
}

@media only screen and (min-width: 875px) {
  .subhead-buttons {
    margin-bottom: 3em;
  }

  .logo {
    width: 60px;
  }

  .profile figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 0 2em;
  }

  .profile h1 {
    font-size: 4em;
  }

  .profile figure img {
    width: 300px;
  }

  .work-container .work-container ul {
    margin: 0 0 4% 0;
  }

  .skills-container ul {
    margin: 4% 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .top-logo {
    display: flex;
  }

  .profile figure img {
    width: 250px;
  }

  .profile {
    padding: 2em;
  }

  .profile h1 {
    font-size: 4.5em;
  }

  .fa-github,
  .fa-linkedin {
    font-size: 75px;
  }

  .cta {
    width: 50%;
    font-size: 1.5em;
  }

  .work-container figure {
    width: unset;
  }

  .subhead-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills-container ul {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .show-desktop {
    display: block;
    margin: 0 auto 2% auto;
  }

  .hide-desktop {
    display: none;
  }

  h1 {
    font-size: 4em;
  }

  .work-container ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1em;
    padding: 1em;
    align-items: center;
    justify-content: center;
  }

  .work-container figure img {
    width: 250px;
  }

  .skills-container ul li {
    margin: 0 auto 2em;
    width: 400px;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    color: black;
    background-color: inherit;
    text-align: center;
    padding: 1em 2em;
    box-sizing: content-box;
  }

  nav ul li a:hover {
    background-color: inherit;
    transform: scale(1.1);
  }

  .scroll {
    width: 45px;
    animation: move 1s infinite alternate;
  }

  @keyframes move {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(20px);
    }
  }
}

@media only screen and (min-width: 1850px) {
  .container {
    width: 70%;
  }

  .profile {
    padding: 4em;
  }

  .profile figure img {
    width: 20%;
    margin: auto auto 1.5em auto;
  }

  .profile h1 {
    font-size: 5em;
  }

  .work-container {
    padding: 2em 0 2em;
  }

  .work-container figure img {
    width: 350px;
    margin-top: 2em;
  }

  .work-container ul li p,
  blockquote {
    font-size: 1.3em;
  }

  .skills-container {
    padding: 6em 0 4em;
  }

  h2 {
    margin-top: 4em;
  }
}
